<section class="banner">
    <header class="header">
        <h2>PooQ</h2>
        <nav class="navigation">
            <ul>
                <li><a id="#work">How it works</a></li>
                <li><a id="#download">Download</a></li>
                <li><a id="#subscribe">subscribe</a></li>
            </ul>
        </nav>
    </header>
    <div class="heroText">
        <h1>Know when to get shit done</h1>
        <p>We all know how much it sucks to get to the bathroom only to find it taken. Get real time updates to know when to go</p>
        <div class="buttonWrapper">
            <a class="button">Know when to poo</a>
        </div>
    </div>
</section>
<section id="work">
    <h2>When should I go poo?</h2>
    <div class="slack">
        <img class="icon" src="https://home.swipesimple.com/wp-content/uploads/2017/12/download.png" />
        <p><span>Get the Slack App</span><br>Download PooQ for Slack. Installation time is way less than walking to the bathroom and back - <em>we swear</em>.</p>
    </div>
    <div class="chat">
        <img class="icon" src="https://home.swipesimple.com/wp-content/uploads/2017/12/char.png" />
        <p><span>Ask PooQ if it's time</span><br>God of poo, PooQ, knows everything within the 4 walls of the bathroom. Ask if it's a good time to go or sit back down at your desk and <em>pretend</em> to be busy.</p>
    </div>
    <div class="go">
        <img class="icon" src="https://home.swipesimple.com/wp-content/uploads/2017/12/go.png" />
        <p><span>Get shit done</span><br>If it's time go, GO! <em>Please remember to wash your hands for the sake of poo.</em> If it isn't, maybe you should be getting other shit done -<em>like actual work</em>.</p>
    </div>
</section>
<section id="hardware">
    <h2>How does PooQ knows so much shit?</h2>
    <img class="backend" src="https://home.swipesimple.com/wp-content/uploads/2017/12/hardware.png" />
</section>
<section id="download" class="download">
    <h2>Don't let your poo poo be a boo boo</h2>
    <p>PooQ will help make pooing great again.</p>
    <div class="buttonWrapper">
        <a class="button">Download PooQ</a>
    </div>
</section>
<section id="subscribe" class="subscribe">
    <p>See what other shit we've been up to</p>
    <form>
        <input type="email" placeholder="Email" value="" class="input" name="email">
    </form>
    <div class="buttonWrapper">
        <a class="button subscribeBtn">Subscribe</a>
    </div>
</section>
