/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    color: #f3f3f3;
    font-family: Open sans, Helvetica, sans-serif;
    font-size:15px;
    font-weight:400;
    line-height: 1.5em;

}
.banner {
    margin: 0a auto;
    background-image: url(https://home.swipesimple.com/wp-content/uploads/2017/12/hero04.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    height: 100vh;
    wdth: auto;

}
.navigation {
    float: right; 
}
.navigation li, .navigation li #work {
    display: inline-block; 
}
.navigation a, .navigation #work {
    color: rgba(243,243,243,0.75);
    margin-right: 25px;
    text-transform: uppercase;
    font-weight:500;

}
.navigation a:hover, .navigation #work:hover, .navigation a.active, .navigation #work:active {
                                                                        color: #fff;

                                                                    }
.header h2 {
    display: inline-block;
    float: left;
    margin-left:25px;

}

.heroText {
    padding: 13% 0 0 2%;
    width: 40%;

}
.heroText h1, #work h2, #hardware h2, .download h2 {
    font-size: 3em;
    line-height: 1.2em;

}
.buttonWrapper {
    margin-top:40px;

}
.button {
    background: #f68c2d;
    font-weight:700;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 10px;

}
#work, #hardware {
    text-align:center;
    color: #3d3f40;
    padding: 20px 20px 50px 20px;

}
#work div {
    display:inline-block;
    width:25%;
    vertical-align:top;
    padding: 0 20px;

}
#work span {
    font-weight:700;
    text-transform: uppercase;
    line-height: 3rem;

}
.icon {
    height: 75px;
    width: auto;

}
.download {
    background: #1E2749;
    text-align:center;
    color: #f3f3f3;
    padding: 70px 0 100px 0;

}
.subscribe {
    background: #273469;
    text-align: center;
    padding: 100px 0;

}
.subscribe p {
    margin: 0;
    font-weight:700;
    text-transform:uppercase

}
form {
    position: relative;
    margin: 0 auto;
    padding:50px 0 30px 0;
    width: 60%;

}
form input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: #f3f3f3;
    border-radius: 10px;
    border: none;
    font-size:15px;

}
.button.subscribeBtn {
    padding: 15px 40px;

}
#hardware .backend {
    width:50%;
    padding: 50px 0;

}